<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sccmclictr.automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <sccmclictr.automation.Properties.Settings>
            <setting name="PSGetDCOMPerm" serializeAs="String">
                <value>$Reg = [WMIClass]"root\default:StdRegProv"
$DCOM = $Reg.GetBinaryValue(2147483650,"{0}","{1}").uValue
$security = Get-WmiObject -Namespace root/cimv2 -Class __SystemSecurity
$converter = new-object system.management.ManagementClass Win32_SecurityDescriptorHelper
$converter.BinarySDToSDDL($DCOM).SDDL
</value>
            </setting>
            <setting name="PSSetDCOMPerm" serializeAs="String">
                <value>$Reg = [WMIClass]"root\default:StdRegProv"
$newDCOMSDDL = "{2}"
$DCOMbinarySD = $converter.SDDLToBinarySD($newDCOMSDDL)
$Reg.SetBinaryValue(2147483650,"{0}","{1}", $DCOMbinarySD.binarySD)
</value>
            </setting>
        </sccmclictr.automation.Properties.Settings>
    </applicationSettings>
</configuration>